Repository Compiled-Platforms/kotlin-multiplatform-library-template: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, check-secrets

lefthook.yml:

# Lefthook configuration for Git hooks
# Install: brew install lefthook (macOS) or see https://github.com/evilmartians/lefthook
# Setup: lefthook install

pre-commit:
  parallel: true
  commands:
    detekt:
      glob: "*.{kt,kts}"
      run: ./gradlew detekt --daemon
      stage_fixed: true
    
    check-secrets:
      glob: "*.{properties,yml,yaml,json}"
      run: |
        # Check for actual hardcoded secrets (not GitHub Actions template syntax)
        for file in {staged_files}; do
          # Skip GitHub Actions workflows (they use ${{ secrets.* }} which is fine)
          if [[ "$file" == .github/workflows/* || "$file" == lefthook.yml ]]; then
            continue
          fi
          
          if grep -i "password\|secret\|token\|key" "$file" | grep -iv "secrets\." | grep -v "SIGNING_KEY\|MAVEN_CENTRAL\|github_token" | grep -qE ":\s*['\"]?[a-zA-Z0-9]{20,}"; then
            echo "❌ Potential hardcoded secret found in $file"
            exit 1
          fi
        done

commit-msg:
  commands:
    validate-message:
      run: |
        commit_msg=$(cat {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "❌ Invalid commit message format!"
          echo "Expected: <type>[optional scope]: <description>"
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add BOM support"
          echo "  fix(detekt): resolve code quality issues"
          echo "  docs: update README with setup instructions"
          exit 1
        fi

pre-push:
  commands:
    build:
      run: ./gradlew build --daemon

skip_output:
  - meta
  - success

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

Notes added by 'git notes add'
  23a4a8d6f55061f57722719d8243e093adf5bc43
Due: none

docs: add Conventional Commits guidance and make-commit skill
  .cursor/rules/development-process/commits.mdc
  .cursor/skills/make-commit/SKILL.md
  docs/docs/about/contributing.md
  docs/docs/development/versioning.md
Due: none

docs: enhance versioning guide with commit message best practices
  docs/docs/development/versioning.md
Due: none

docs: Add Conventional Commits guidance and make-commit skill (#38)
  .cursor/rules/development-process/commits.mdc
  .cursor/skills/make-commit/SKILL.md
  docs/docs/about/contributing.md
  docs/docs/development/versioning.md
Due: none

build(convention): add per-library KMP targets and scope config by targets
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  build.gradle.kts
  libraries/example-library/gradle.properties
  libraries/example-library/src/commonTest/kotlin/com/compiledplatforms/kmp/library/fibonacci/FibiTest.kt
Due: detekt, check-secrets

build(convention): address PR review – fail fast and conditional Android plugin
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
Due: detekt

build(convention): add per-library KMP targets and scope config by targets (#39)
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  build.gradle.kts
  libraries/example-library/gradle.properties
  libraries/example-library/src/commonTest/kotlin/com/compiledplatforms/kmp/library/fibonacci/FibiTest.kt
Due: detekt, check-secrets

feat(ci): add platform build scripts and update workflows
  .cursor/skills/implementation-checklist/SKILL.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/validate-commits.yml
  bom/build.gradle.kts
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  config/detekt/detekt.yaml
  docs/docs/development/testing.md
  lefthook.yml
  package-lock.json
  package.json
  project.yml
  scripts/build_platforms.py
  scripts/requirements-dev.txt
  scripts/src/__init__.py
  scripts/src/gradle_runner.py
  scripts/src/parallel_runner.py
  scripts/src/platform_core.py
  scripts/src/touched_files.py
  scripts/test_platforms.py
  scripts/tests/__init__.py
  scripts/tests/conftest.py
  scripts/tests/test_gradle_runner.py
  scripts/tests/test_parallel_runner.py
  scripts/tests/test_platform_core.py
  scripts/tests/test_test_platforms_integration.py
  scripts/tests/test_touched_files.py
Due: detekt, check-secrets

feat(ci): add platform build scripts and update workflows (#40)
  .cursor/skills/implementation-checklist/SKILL.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/validate-commits.yml
  bom/build.gradle.kts
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  config/detekt/detekt.yaml
  docs/docs/development/testing.md
  lefthook.yml
  package-lock.json
  package.json
  project.yml
  scripts/build_platforms.py
  scripts/requirements-dev.txt
  scripts/src/__init__.py
  scripts/src/gradle_runner.py
  scripts/src/parallel_runner.py
  scripts/src/platform_core.py
  scripts/src/touched_files.py
  scripts/test_platforms.py
  scripts/tests/__init__.py
  scripts/tests/conftest.py
  scripts/tests/test_gradle_runner.py
  scripts/tests/test_parallel_runner.py
  scripts/tests/test_platform_core.py
  scripts/tests/test_test_platforms_integration.py
  scripts/tests/test_touched_files.py
Due: detekt, check-secrets

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

Notes added by 'git notes add'
  5b49de64ea9554f057898cacf3d8a7b6953903af
Due: none

docs(samples): expand samples README
  samples/README.md
Due: none

refactor(samples): rename example-library-sample to example-library
  README.md
  docs/docs/development/setup.md
  libraries/example-library/docs/index.md
  samples/README.md
  samples/example-library/README.md
  samples/example-library/build.gradle.kts
  samples/example-library/src/commonMain/kotlin/Main.kt
  samples/example-library/src/jvmMain/kotlin/JvmMain.kt
Due: detekt

refactor(samples): move example-library sample into jvm-cli subdir
  README.md
  docs/docs/development/setup.md
  libraries/example-library/docs/index.md
  samples/README.md
  samples/example-library/README.md
  samples/example-library/build.gradle.kts
  samples/example-library/jvm-cli/README.md
  samples/example-library/jvm-cli/build.gradle.kts
  samples/example-library/jvm-cli/src/commonMain/kotlin/Main.kt
  samples/example-library/jvm-cli/src/jvmMain/kotlin/JvmMain.kt
  samples/example-library/src/jvmMain/kotlin/JvmMain.kt
  settings.gradle.kts
Due: detekt

feat(samples): add compose-multiplatform sample and use example-library
  build.gradle.kts
  gradle/libs.versions.toml
  kotlin-js-store/wasm/yarn.lock
  kotlin-js-store/yarn.lock
  libraries/example-library/build.gradle.kts
  libraries/example-library/src/jsMain/kotlin/com/compiledplatforms/kmp/library/fibonacci/fibiprops.js.kt
  libraries/example-library/src/wasmJsMain/kotlin/com/compiledplatforms/kmp/library/fibonacci/fibiprops.wasmJs.kt
  samples/README.md
  samples/example-library/README.md
  samples/example-library/compose-multiplatform/build.gradle.kts
  samples/example-library/compose-multiplatform/iosApp/iosApp.xcodeproj/project.pbxproj
  samples/example-library/compose-multiplatform/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  samples/example-library/compose-multiplatform/iosApp/iosApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  samples/example-library/compose-multiplatform/iosApp/iosApp/Assets.xcassets/Contents.json
  samples/example-library/compose-multiplatform/iosApp/iosApp/ContentView.swift
  samples/example-library/compose-multiplatform/iosApp/iosApp/Info.plist
  samples/example-library/compose-multiplatform/iosApp/iosApp/iOSApp.swift
  samples/example-library/compose-multiplatform/src/androidMain/AndroidManifest.xml
  samples/example-library/compose-multiplatform/src/androidMain/kotlin/MainActivity.kt
  samples/example-library/compose-multiplatform/src/commonMain/kotlin/App.kt
  samples/example-library/compose-multiplatform/src/iosMain/kotlin/MainViewController.kt
  samples/example-library/compose-multiplatform/src/jsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/jsMain/resources/index.html
  samples/example-library/compose-multiplatform/src/jvmMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/wasmJsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/wasmJsMain/resources/index.html
  samples/example-library/jvm-cli/README.md
  samples/example-library/jvm-cli/build.gradle.kts
  samples/example-library/jvm-cli/src/commonMain/kotlin/Main.kt
  samples/example-library/jvm-cli/src/jvmMain/kotlin/JvmMain.kt
  settings.gradle.kts
Due: detekt, check-secrets

docs(samples): expand samples README (#41)
  samples/README.md
Due: none

fix(tests): fix example-library tests and scope CI to libraries only
  build.gradle.kts
  gradle.properties
  libraries/example-library/build.gradle.kts
  libraries/example-library/src/jvmTest/kotlin/com/compiledplatforms/kmp/library/fibonacci/MokkeryExampleTest.kt
  libraries/example-library/src/mingwX64Main/kotlin/com/compiledplatforms/kmp/library/fibonacci/fibiprops.mingwX64.kt
  samples/example-library/compose-multiplatform/build.gradle.kts
  scripts/src/platform_core.py
  scripts/test_platforms.py
  scripts/tests/test_platform_core.py
Due: detekt, check-secrets

build(agp): upgrade to AGP 9.0, Kotlin 2.3.10, Gradle 9.1.0
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  kotlin-js-store/yarn.lock
  libraries/example-library/consumer-rules.pro
  samples/example-library/compose-android/build.gradle.kts
  samples/example-library/compose-android/src/main/AndroidManifest.xml
  samples/example-library/compose-android/src/main/kotlin/com/compiledplatforms/kmp/library/fibonacci/sample/MainActivity.kt
  samples/example-library/compose-multiplatform/build.gradle.kts
Due: detekt, check-secrets

build(example-library): update build.gradle.kts
  libraries/example-library/build.gradle.kts
Due: detekt

feat: AGP 9 migration and tooling updates (#43)
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  kotlin-js-store/yarn.lock
  libraries/example-library/build.gradle.kts
  libraries/example-library/consumer-rules.pro
  samples/example-library/compose-android/build.gradle.kts
  samples/example-library/compose-android/src/main/AndroidManifest.xml
  samples/example-library/compose-android/src/main/kotlin/com/compiledplatforms/kmp/library/fibonacci/sample/MainActivity.kt
  samples/example-library/compose-multiplatform/build.gradle.kts
Due: detekt, check-secrets

Notes added by 'git notes add'
  8a19a2c542a0014534fbb1b3ba654bf080b3de18
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

fix(scripts): dry-run and gradle_runner improvements
  samples/example-library/README.md
  samples/example-library/compose-multiplatform/src/jsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/wasmJsMain/kotlin/main.kt
  scripts/src/gradle_runner.py
  scripts/test_platforms.py
  scripts/tests/test_gradle_runner.py
Due: detekt

feat: apply PR30-style build, libs, samples, and script updates
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  build.gradle.kts
  gradle/libs.versions.toml
  kotlin-js-store/wasm/yarn.lock
  samples/example-library/README.md
  samples/example-library/compose-android/build.gradle.kts
  samples/example-library/compose-multiplatform/build.gradle.kts
  samples/example-library/compose-multiplatform/src/jsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/jsMain/resources/index.html
  samples/example-library/compose-multiplatform/src/wasmJsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/wasmJsMain/resources/index.html
  scripts/src/gradle_runner.py
  scripts/src/platform_core.py
  scripts/test_platforms.py
  scripts/tests/test_platform_core.py
Due: detekt

fix(scripts): validate --platforms and handle empty values
  scripts/src/platform_core.py
  scripts/test_platforms.py
  scripts/tests/test_platform_core.py
  scripts/tests/test_test_platforms_integration.py
Due: none

feat(samples): add runDebug task for compose-android
  samples/example-library/compose-android/build.gradle.kts
Due: detekt

fix: apply PR30-style build, libs, samples, and script updates
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  build.gradle.kts
  gradle/libs.versions.toml
  kotlin-js-store/wasm/yarn.lock
  samples/example-library/README.md
  samples/example-library/compose-android/build.gradle.kts
  samples/example-library/compose-multiplatform/build.gradle.kts
  samples/example-library/compose-multiplatform/src/jsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/jsMain/resources/index.html
  samples/example-library/compose-multiplatform/src/wasmJsMain/kotlin/main.kt
  samples/example-library/compose-multiplatform/src/wasmJsMain/resources/index.html
  scripts/src/gradle_runner.py
  scripts/src/platform_core.py
  scripts/test_platforms.py
  scripts/tests/test_gradle_runner.py
  scripts/tests/test_platform_core.py
  scripts/tests/test_test_platforms_integration.py
Due: detekt

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

Notes added by 'git notes add'
  a7b3c18c679fdf90e6a195c37ac8b18b2ab23555
Due: none

fix(build): exclude samples from root build task
  build.gradle.kts
Due: detekt

Notes added by 'git notes add'
  ccc24d516954efef890a2b645818b802e9d5b82e
Due: none

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

chore(cursor): add agent rules, skills, and skill-context routing
  .cursor/rules/coding-guidelines/testing.mdc
  .cursor/rules/coding-guidelines/thread-safety.mdc
  .cursor/rules/coding-principles/principle-of-least-exposure.mdc
  .cursor/rules/development-process/branch-discipline.mdc
  .cursor/rules/development-process/commits.mdc
  .cursor/rules/development-process/publishing.mdc
  .cursor/rules/development-process/skill-context.mdc
  .cursor/skills/publish-library/SKILL.md
  .cursor/skills/write-code/SKILL.md
  .cursor/skills/write-tests/SKILL.md
Due: none

chore(cursor): require diff review before proposing commit commands
  .cursor/rules/development-process/commits.mdc
  .cursor/skills/make-commit/SKILL.md
Due: none

chore(cursor): always apply commit message rule
  .cursor/rules/development-process/commits.mdc
Due: none

chore(cursor): add debug skill with auto-switch on errors
  .cursor/rules/development-process/debugging.mdc
  .cursor/rules/development-process/skill-context.mdc
  .cursor/skills/debug/SKILL.md
Due: none

docs(gradle): add release URL comments to version catalog
  gradle/libs.versions.toml
Due: none

build(deps): bump kotlin to 2.4.0 with kover and mokkery
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
Due: none
