Repository Compiled-Platforms/kotlin-multiplatform-library-template: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, check-secrets

lefthook.yml:

# Lefthook configuration for Git hooks
# Install: brew install lefthook (macOS) or see https://github.com/evilmartians/lefthook
# Setup: lefthook install

pre-commit:
  parallel: true
  commands:
    detekt:
      glob: "*.{kt,kts}"
      run: ./gradlew detekt --daemon
      stage_fixed: true
    
    check-secrets:
      glob: "*.{properties,yml,yaml,json}"
      run: |
        # Check for actual hardcoded secrets (not GitHub Actions template syntax)
        for file in {staged_files}; do
          # Skip GitHub Actions workflows (they use ${{ secrets.* }} which is fine)
          if [[ "$file" == .github/workflows/* || "$file" == lefthook.yml ]]; then
            continue
          fi
          
          if grep -i "password\|secret\|token\|key" "$file" | grep -iv "secrets\." | grep -v "SIGNING_KEY\|MAVEN_CENTRAL\|github_token" | grep -qE ":\s*['\"]?[a-zA-Z0-9]{20,}"; then
            echo "❌ Potential hardcoded secret found in $file"
            exit 1
          fi
        done

commit-msg:
  commands:
    validate-message:
      run: |
        commit_msg=$(cat {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "❌ Invalid commit message format!"
          echo "Expected: <type>[optional scope]: <description>"
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add BOM support"
          echo "  fix(detekt): resolve code quality issues"
          echo "  docs: update README with setup instructions"
          exit 1
        fi

pre-push:
  commands:
    build:
      run: ./gradlew build --daemon

skip_output:
  - meta
  - success

chore(ci): configure Dependabot to ignore KMP-critical dependencies (#17)
  .github/dependabot.yml
Due: check-secrets

chore(deps): update Kotest to 6.1.1 (#18)
  gradle/libs.versions.toml
Due: none

feat: add semantic-release for automated versioning
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc.json
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  cliff.toml
  gradle.properties
  package.json
  project.yml
Due: detekt, check-secrets

feat: add semantic-release for automated versioning (#21)
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  .gitignore
  .releaserc.json
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  cliff.toml
  gradle.properties
  package.json
  project.yml
Due: detekt, check-secrets

fix: remove Release Drafter and fix npm cache error
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Due: check-secrets

docs: add versioning guide and commit validation
  .commitlintrc.json
  .github/workflows/validate-commits.yml
  docs/docs/development/versioning.md
  package.json
Due: check-secrets

fix: remove Release Drafter and fix npm cache error (#22)
  .commitlintrc.json
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/validate-commits.yml
  docs/docs/development/versioning.md
  package.json
Due: check-secrets

fix: add package-lock.json for reproducible CI builds
  .gitignore
  package-lock.json
Due: check-secrets

fix: add package-lock.json for reproducible CI builds (#23)
  .gitignore
  package-lock.json
Due: check-secrets

fix: use cross-platform sed and start versioning at 1.0.0
  .releaserc.json
  docs/docs/development/versioning.md
  gradle.properties
Due: check-secrets

fix: use cross-platform sed and start versioning at 1.0.0 (#24)
  .releaserc.json
  docs/docs/development/versioning.md
  gradle.properties
Due: check-secrets

feat: use GitHub App token for releases
  .github/workflows/release.yml
Due: check-secrets

fix: use GitHub App token for releases and add setup docs
  .github/workflows/release.yml
  docs/docs/development/github-app-setup.md
Due: check-secrets

feat: use GitHub App token for releases (#25)
  .github/workflows/release.yml
  docs/docs/development/github-app-setup.md
Due: check-secrets

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  da5ef9b21ad54afde4ddaf3d1ff783d23048218e
Due: none

docs: remove old git-cliff content from changelog
  CHANGELOG.md
Due: none

docs: remove old git-cliff content from changelog (#26)
  CHANGELOG.md
Due: none

fix: explicitly ignore gradle-wrapper in Dependabot
  .github/dependabot.yml
Due: check-secrets

fix: explicitly ignore gradle-wrapper in Dependabot (#27)
  .github/dependabot.yml
Due: check-secrets

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

Notes added by 'git notes add'
  4cd24f514126fd9233ead6ae1fe15c3582d89e62
Due: none

docs: document that Dependabot must use chore prefix
  .github/dependabot.yml
Due: check-secrets

fix: skip commitlint validation for Dependabot PRs
  .github/workflows/validate-commits.yml
Due: check-secrets

docs: document that Dependabot must use chore prefix (#30)
  .github/dependabot.yml
  .github/workflows/validate-commits.yml
Due: check-secrets

fix: update detekt config for 2.0.0-alpha.2 compatibility
  config/detekt/detekt.yaml
Due: check-secrets

fix: update detekt config for 2.0.0-alpha.2 compatibility (#33)
  config/detekt/detekt.yaml
Due: check-secrets

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

Notes added by 'git notes add'
  1ea7efa5fd5b62e7c2cb3ab0bfe863f07e2c2f86
Due: none

chore: disable Maven publish workflow for template
  .github/workflows/publish.yml
Due: check-secrets

chore: disable Maven publish workflow for template (#34)
  .github/workflows/publish.yml
Due: check-secrets

chore: enhance .gitignore and add maintenance tooling
  .cursor/rules/development-process/version-control.mdc
  .cursor/skills/maintain-gitignore/SKILL.md
  .gitignore
Due: none

chore: enhance .gitignore and add maintenance tooling (#35)
  .cursor/rules/development-process/version-control.mdc
  .cursor/skills/maintain-gitignore/SKILL.md
  .gitignore
Due: none

feat: add flexible publishing system and refactor convention plugin
  .cursor/skills/setup-publishing/SKILL.md
  .github/workflows/publish.yml
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/DocumentationConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  build-logic/convention/src/main/kotlin/config/PublishingConfig.kt
  docs/docs/development/publishing-cloud-services.md
  docs/docs/development/publishing-custom-maven.md
  docs/docs/development/publishing-github-packages.md
  docs/docs/development/publishing-maven-central.md
  docs/docs/development/publishing.md
  project.yml
  project.yml.template
  scripts/get-publishing-config.py
Due: detekt, check-secrets

feat: add flexible publishing system and refactor convention plugin (#36)
  .cursor/skills/setup-publishing/SKILL.md
  .github/workflows/publish.yml
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  build-logic/convention/src/main/kotlin/config/AndroidLibraryConfig.kt
  build-logic/convention/src/main/kotlin/config/CodeQualityConfig.kt
  build-logic/convention/src/main/kotlin/config/DocumentationConfig.kt
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  build-logic/convention/src/main/kotlin/config/PublishingConfig.kt
  docs/docs/development/publishing-cloud-services.md
  docs/docs/development/publishing-custom-maven.md
  docs/docs/development/publishing-github-packages.md
  docs/docs/development/publishing-maven-central.md
  docs/docs/development/publishing.md
  project.yml
  project.yml.template
  scripts/get-publishing-config.py
Due: detekt, check-secrets

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  gradle.properties
Due: check-secrets

Notes added by 'git notes add'
  83b59fe7b5379786ed1e53c207db4972b9a9edea
Due: none

fix(actions): use GITHUB_OUTPUT file instead of deprecated set-output
  .github/actions/parse-versions/parse_versions.py
  .github/actions/parse-versions/test_parse_versions.py
Due: none

fix(actions): use GITHUB_OUTPUT file instead of deprecated set-output (#37)
  .github/actions/parse-versions/parse_versions.py
  .github/actions/parse-versions/test_parse_versions.py
Due: none
