Repository Compiled-Platforms/kotlin-multiplatform-library-template: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, check-secrets

lefthook.yml:

# Lefthook configuration for Git hooks
# Install: brew install lefthook (macOS) or see https://github.com/evilmartians/lefthook
# Setup: lefthook install

pre-commit:
  parallel: true
  commands:
    detekt:
      glob: "*.{kt,kts}"
      run: ./gradlew detekt --daemon
      stage_fixed: true
    
    check-secrets:
      glob: "*.{properties,yml,yaml,json}"
      exclude: ".github/workflows/*|lefthook.yml"
      run: |
        if grep -r "mavenCentralPassword\|signingPassword\|github_token" {staged_files}; then
          echo "❌ Potential secrets found in staged files!"
          exit 1
        fi

commit-msg:
  commands:
    validate-message:
      run: |
        commit_msg=$(cat {1})
        if ! echo "$commit_msg" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .+"; then
          echo "❌ Invalid commit message format!"
          echo "Expected: <type>[optional scope]: <description>"
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add BOM support"
          echo "  fix(detekt): resolve code quality issues"
          echo "  docs: update README with setup instructions"
          exit 1
        fi

pre-push:
  commands:
    build:
      run: ./gradlew build --daemon
      
    check-branch:
      run: |
        branch=$(git rev-parse --abbrev-ref HEAD)
        if [[ "$branch" == "main" || "$branch" == "master" ]]; then
          echo "⚠️  WARNING: You are pushing to $branch!"
          read -p "Are you sure? (yes/no): " confirm
          if [[ "$confirm" != "yes" ]]; then
            exit 1
          fi
        fi

skip_output:
  - meta
  - success

fix: improve lefthook secrets check to allow GitHub Actions templates
  lefthook.yml
Due: none

docs: mark GitHub Actions and Dokka as complete in TODO
  TODO.md
Due: none

docs: update completed section in TODO
  TODO.md
Due: none

feat: add Binary Compatibility Validator for API stability tracking
  .gitignore
  README.md
  TODO.md
  build.gradle.kts
  docs/docs/development/api-compatibility.md
  docs/mkdocs.yml
  gradle/libs.versions.toml
  libraries/example-library/api/example-library.klib.api
  libraries/example-library/api/jvm/example-library.api
Due: detekt, check-secrets

feat: add Kover code coverage tracking
  .github/workflows/build.yml
  .gitignore
  README.md
  TODO.md
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  build.gradle.kts
  docs/docs/development/code-coverage.md
  docs/mkdocs.yml
  gradle/libs.versions.toml
Due: detekt, check-secrets

feat: add Dependabot for automated dependency updates
  .github/dependabot.yml
  README.md
  TODO.md
  docs/docs/development/dependency-updates.md
  docs/mkdocs.yml
Due: check-secrets

fix(ci): use --daemon flag instead of --no-daemon in GitHub Actions
  .github/workflows/build.yml
Due: none

feat: add comprehensive testing stack with kotlinx-coroutines-test and Turbine
  README.md
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  docs/docs/development/testing.md
  docs/mkdocs.yml
  gradle/libs.versions.toml
  libraries/example-library/src/commonTest/kotlin/com/compiledplatforms/kmp/library/fibonacci/CoroutineExampleTest.kt
  libraries/example-library/src/commonTest/kotlin/com/compiledplatforms/kmp/library/fibonacci/TurbineExampleTest.kt
Due: detekt, check-secrets

chore: ignore .kotlin/ directory with build metadata
  .gitignore
Due: none

chore: upgrade Kotlin to 2.3.0
  gradle/libs.versions.toml
Due: none

chore: upgrade Gradle to 9.0.0
  gradle/wrapper/gradle-wrapper.properties
Due: check-secrets

chore: remove tracked .kotlin/ metadata files
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.libraries.example-library-appleMain.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.libraries.example-library-appleTest.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.libraries.example-library-iosMain.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.libraries.example-library-iosTest.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.libraries.example-library-nativeMain.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.libraries.example-library-nativeTest.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.library-appleMain.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.library-appleTest.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.library-iosMain.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.library-iosTest.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.library-nativeMain.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedCInteropMetadataLibraries/.library-nativeTest.cinteropLibraries.json
  .kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.2.20-commonMain-Y8sbrw.klib
  .kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.2.20-annotationsCommonMain-A9nzCA.klib
  .kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-test-2.2.20-assertionsCommonMain-A9nzCA.klib
Due: check-secrets

feat: add Mokkery v3.1.1 for KMP mocking
  README.md
  build-logic/convention/src/main/kotlin/KmpLibraryConventionPlugin.kt
  docs/docs/development/testing.md
  gradle/libs.versions.toml
  libraries/example-library/build.gradle.kts
  libraries/example-library/src/commonTest/kotlin/com/compiledplatforms/kmp/library/fibonacci/MokkeryExampleTest.kt
Due: detekt

fix(ci): remove ambiguous test task exclusion from Windows build
  .github/workflows/build.yml
Due: none

perf(ci): optimize build times with caching and smart job execution
  .github/workflows/build.yml
Due: none

perf(ci): further optimize CI with configuration cache and cleanup
  .github/workflows/build.yml
  samples/example-library-sample/build.gradle.kts
Due: detekt

fix(ci): remove ambiguous test task exclusion from Windows build (#7)
  .github/workflows/build.yml
  samples/example-library-sample/build.gradle.kts
Due: detekt

fix(ci): remove gradle-home-cache-cleanup option incompatible with Gradle 9.x
  .github/workflows/build.yml
Due: none

fix(ci): add Windows-compatible Kotlin/Native cache path
  .github/workflows/build.yml
Due: none

fix(ci): resolve Gradle 9.x compatibility and Windows caching issues
  .github/workflows/build.yml
Due: none

chore(ci): remove redundant gradle.yml workflow
  .github/workflows/gradle.yml
Due: none

chore(ci): simplify to optimal single-branch Ubuntu-only CI setup
  .github/workflows/build.yml
Due: none

chore: remove interactive branch check from pre-push hook
  lefthook.yml
Due: none

chore(deps): group all Dependabot updates into single PRs
  .github/dependabot.yml
Due: check-secrets

chore(deps): ignore Kotlin/AGP/Gradle updates - manually managed for KMP compatibility
  .github/dependabot.yml
Due: check-secrets

feat: add centralized project configuration system
  .github/workflows/build.yml
  .github/workflows/docs.yml
  PROJECT_CONFIG.md
  README.md
  project.yml
  scripts/get-config.py
Due: check-secrets

feat: add CI status logging to workflows
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

feat: add GitHub Actions warning/notice annotations for CI status
  .github/workflows/build.yml
  .github/workflows/docs.yml
Due: none

feat: create testable composite action for CI status checking
  .github/actions/ci-status/.coverage
  .github/actions/ci-status/README.md
  .github/actions/ci-status/__pycache__/ci_status.cpython-311.pyc
  .github/actions/ci-status/__pycache__/test_ci_status.cpython-311-pytest-9.0.2.pyc
  .github/actions/ci-status/action.yml
  .github/actions/ci-status/ci_status.py
  .github/actions/ci-status/requirements-dev.txt
  .github/actions/ci-status/requirements.txt
  .github/actions/ci-status/test_ci_status.py
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/test-actions.yml
Due: check-secrets

chore: add Python build artifacts to .gitignore
  .github/actions/ci-status/.coverage
  .github/actions/ci-status/__pycache__/ci_status.cpython-311.pyc
  .github/actions/ci-status/__pycache__/test_ci_status.cpython-311-pytest-9.0.2.pyc
  .gitignore
Due: none

feat: add automated release management with Release Drafter and git-cliff
  .github/release-drafter.yml
  .github/workflows/changelog.yml
  .github/workflows/release-drafter.yml
  RELEASE_PROCESS.md
Due: check-secrets

fix(ci): grant contents:write permission to release-drafter workflow
  .github/workflows/release-drafter.yml
Due: none

docs: add note about v0.0.0 baseline tag
  RELEASE_PROCESS.md
Due: none

chore: add Cursor AI rules for Kotlin Multiplatform development
  .cursor/rules/coding-guidelines/code-style.mdc
  .cursor/rules/coding-guidelines/comment-usage.mdc
  .cursor/rules/coding-guidelines/development-process.mdc
  .cursor/rules/coding-guidelines/dry-principle.mdc
  .cursor/rules/coding-guidelines/naming-conventions.mdc
  .cursor/rules/coding-guidelines/single-responsibility-principle.mdc
  .cursor/rules/coding-guidelines/thread-safety.mdc
  .cursor/rules/kotlin/multiplatform/android/android-reactive-programming.mdc
  .cursor/rules/kotlin/multiplatform/ios/ios-reactive-programming.mdc
  .cursor/rules/kotlin/multiplatform/multiplatform-reactive-programming.mdc
  .cursor/rules/kotlin/multiplatform/multiplatform-structured-concurrency.mdc
  .cursor/rules/kotlin/reactive-programming.mdc
  .cursor/rules/kotlin/structured-concurrency.mdc
Due: none

refactor: extract version parsing into dedicated action
  .github/actions/ci-status/action.yml
  .github/actions/ci-status/ci_status.py
  .github/actions/parse-versions/README.md
  .github/actions/parse-versions/action.yml
  .github/actions/parse-versions/parse_versions.py
  .github/actions/parse-versions/requirements-dev.txt
  .github/actions/parse-versions/requirements.txt
  .github/actions/parse-versions/test_parse_versions.py
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/test-actions.yml
  README.md
  gradle/libs.versions.toml
  project.yml
  project.yml.template
  scripts/project-setup.py
Due: check-secrets

chore(ci): configure Dependabot to ignore KMP-critical dependencies
  .github/dependabot.yml
Due: check-secrets

chore(deps): update Kotest to 6.1.1
  gradle/libs.versions.toml
Due: none
