Repository Compiled-Platforms/kotlin-multiplatform-library-template: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, check-secrets

detekt:
  run: ./gradlew detekt --daemon
  stage_fixed: true

check-secrets:
  run: "# Check for actual hardcoded secrets (not GitHub Actions template syntax). POSIX sh for CI.\nfor file in {staged_files}; do\n  case \"$file\" in\n    .github/workflows/*|lefthook.yml) continue ;;\n  esac\n  if grep -i \"password\\|secret\\|token\\|key\" \"$file\" | grep -iv \"secrets\\.\" | gr
  ...

build(deps): bump agp to 9.1.0 and gradle wrapper to 9.5.0
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Due: check-secrets

build(deps): bump android minSdk to 26
  gradle/libs.versions.toml
Due: none

build(deps): bump compose to 1.11.1 and drop iosX64
  build-logic/convention/src/main/kotlin/config/KotlinMultiplatformConfig.kt
  gradle/libs.versions.toml
  project.yml
  samples/example-library/compose-multiplatform/build.gradle.kts
Due: detekt, check-secrets

build(deps): bump kotlinx and androidx library versions
  gradle/libs.versions.toml
Due: none

build(deps): bump dokka, kotest, and vanniktech publish plugin
  gradle/libs.versions.toml
Due: none

build(deps): bump detekt to 2.0.0-alpha.5
  config/detekt/detekt.yaml
  gradle/libs.versions.toml
Due: check-secrets

chore(deps): expand dependabot ignore rules to cover KMP compatibility stack
  .github/dependabot.yml
  docs/docs/development/dependency-updates.md
Due: check-secrets

build(deps): bump mokkery to 3.4.2
  gradle/libs.versions.toml
Due: none

ci: use reusable Dependabot notification workflow from org
  .github/workflows/notify-dependabot.yml
Due: check-secrets

ci: add Slack notification for Dependabot PRs
  .github/workflows/notify-dependabot.yml
Due: check-secrets

docs(cursor): add CI rules and skills suite
  .cursor/rules/development-process/ci.mdc
  .cursor/rules/development-process/skill-context.mdc
  .cursor/skills/ci-containers/SKILL.md
  .cursor/skills/ci-embedded/SKILL.md
  .cursor/skills/ci-observability/SKILL.md
  .cursor/skills/ci-performance/SKILL.md
  .cursor/skills/ci-quality-gates/SKILL.md
  .cursor/skills/ci-releases/SKILL.md
  .cursor/skills/ci-security/SKILL.md
  .cursor/skills/ci-workflow/SKILL.md
Due: none

docs(cursor): add CI rules and skills suite (#60)
  .cursor/rules/development-process/ci.mdc
  .cursor/rules/development-process/skill-context.mdc
  .cursor/skills/ci-containers/SKILL.md
  .cursor/skills/ci-embedded/SKILL.md
  .cursor/skills/ci-observability/SKILL.md
  .cursor/skills/ci-performance/SKILL.md
  .cursor/skills/ci-quality-gates/SKILL.md
  .cursor/skills/ci-releases/SKILL.md
  .cursor/skills/ci-security/SKILL.md
  .cursor/skills/ci-workflow/SKILL.md
Due: none

docs(cursor): add CI rules, skills suite, and concurrency guidance
  .cursor/skills/ci-workflow/SKILL.md
Due: none

docs(cursor): add Compose rules/skills aligned with Material layout
  .cursor/rules/coding-guidelines/code-style.mdc
  .cursor/rules/compose/compose.mdc
  .cursor/rules/development-process/skill-context.mdc
  .cursor/skills/compose/compose-animation/SKILL.md
  .cursor/skills/compose/compose-effects/SKILL.md
  .cursor/skills/compose/compose-kmp/SKILL.md
  .cursor/skills/compose/compose-layout/SKILL.md
  .cursor/skills/compose/compose-logic-extraction/SKILL.md
  .cursor/skills/compose/compose-material3/SKILL.md
  .cursor/skills/compose/compose-performance/SKILL.md
  .cursor/skills/compose/compose-reusable-components/SKILL.md
  .cursor/skills/compose/compose-runtime/SKILL.md
  .cursor/skills/compose/compose-state/SKILL.md
  .cursor/skills/compose/compose-testing/SKILL.md
  .cursor/skills/write-code/SKILL.md
Due: none

docs(cursor): make Compose guidance template-accurate
  .cursor/rules/compose/compose.mdc
  .cursor/skills/compose/compose-reusable-components/SKILL.md
  .cursor/skills/write-code/SKILL.md
Due: none

docs(cursor): add Compose rules/skills aligned with Material layout (#61)
  .cursor/rules/coding-guidelines/code-style.mdc
  .cursor/rules/compose/compose.mdc
  .cursor/rules/development-process/skill-context.mdc
  .cursor/skills/compose/compose-animation/SKILL.md
  .cursor/skills/compose/compose-effects/SKILL.md
  .cursor/skills/compose/compose-kmp/SKILL.md
  .cursor/skills/compose/compose-layout/SKILL.md
  .cursor/skills/compose/compose-logic-extraction/SKILL.md
  .cursor/skills/compose/compose-material3/SKILL.md
  .cursor/skills/compose/compose-performance/SKILL.md
  .cursor/skills/compose/compose-reusable-components/SKILL.md
  .cursor/skills/compose/compose-runtime/SKILL.md
  .cursor/skills/compose/compose-state/SKILL.md
  .cursor/skills/compose/compose-testing/SKILL.md
  .cursor/skills/write-code/SKILL.md
Due: none

fix(bcv): avoid ignoring libraries that share sample project names
  build.gradle.kts
  docs/docs/development/api-compatibility.md
Due: detekt

Path conditions:
  detekt: any of: *.{kt,kts}
  check-secrets: any of: *.{properties,yml,yaml,json}
